---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Pagina no encontrada">
    <section class="bg-gray-400 m-4 p-4 rounded-md">
        <p class="text-lg text-semibold text-center mx-4">No se ha encontrado el sitio indicado.</p>
    </section>
</Layout>